*{background: #F0F4F3;}
p {
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-style: italic;
  Color: #777777
}
h1 {
  padding: 0px;
  margin: 0px;
  font-family: 'POPPINS', sans-serif;
  font-weight: 500;
  font-size: 60px;
  font-style: bold;
  Color: #383D40;
}
h2 {
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 24px;
  font-style: bold;
  color: #0468BF
}
a {
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-style: italic;
}
BUTTON {
  background-color: #EEE7C1;
  border:1px solid;
  border-color: #CFBD53;
  padding: .75%;
}
h4 {
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  font-style: bold
}

.cities {
  background-color: black;
  color: black;
  margin: 10px;
  padding: 10px;
  width: 300px;
}
li {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: semi-bold
}

.grid {
    display: grid;
    background-color: blue;
    margin: 0px, 5%;
    mid-hight: 700px;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "project-one project-one"
}
.project2 {
    grid-area: project-one;
    background-color: yellow;
}
@media only all and (max-width: 1000px) {
    body{
        background-color: white;
    }
}
@font-face (max-width: 1000px) {
    font-family: 'Montserrat';
    font-weight: 500;
}

image {
    box-align: center;
    background: #F0F4F3;
  }
.box {
    display: flex;
    justify-content: space-between;
}
